body {
  background-color: #f0f0f0;
  

  
}

.gif-contain {
  max-width: 200px;
  z-index: 999;
  overflow: show;
  margin: auto;
  padding-bottom: auto;
}

.dancers {  
  max-width: 100%;
}

header {
  border: 3px solid red;
  border-radius: 10px;
  width: 70%;
  margin: 2% 15%;
  margin-bottom: 0%;
  background-color: pink;
  display: block;

}

h1 {
  width: 80%;
  font-size: 0.9em;
  margin: 10px auto;
  border:2px solid darkred;
  border-radius: 10px;
  background-color: white;
  text-align: center;
  color: darkred;
  font-family: Helvetica;
}

#input {
  width: 40%;
  margin: 2% 30%;
  margin-bottom: 0;
  font-size: 1.2vw;
}

#primary-content {
  font-size: 2vw;
  max-height: 400px;
  width: 65%;
  font-family: sans-serif;
  text-align: center;
  border: 4px solid darkgreen;
  background-color: lightgreen; 
  border-radius: 10px;
  margin: 1% auto;
  margin-top: ;
  -webkit-box-shadow: 4px 6px 13px 0px rgba(143,47,79,0.48);
  -moz-box-shadow: 4px 6px 13px 0px rgba(143,47,79,0.48);
  box-shadow: 4px 6px 13px 0px rgba(143,47,79,0.48);
}



.navbar {
  padding-bottom: 5px;
  padding-top: 5px;
  background-color: lightgreen;
  background-image: linear-gradient(lightgreen, #39951d);
}

.navbtn {
  font-size: 1.4vw;
  color: #darkgreen;
  padding-top: 6px;
  border: 1px solid lightgreen;
  border-radius: 5px;
  display: inline-block;
  height: 30px;
  min-width: 15%;
}

#transbtn {
  height: 25px;
  display: block;
  margin: 1% auto;
}

#clr {
  display: inline-block;
  height: 25px;
  margin-bottom: 1%;
}

textarea {
  text-align: center;
}

#translatedText {
  width: 62.5%;
  padding: 1% 1%;
  min-height: 45px;
  text-align: center;
  margin: 1% auto;
  border-radius: 10px;
  border: 3px solid darkred;
  -webkit-box-shadow: 2px 4px 10px 0px rgba(10,77,14,0.61);
  -moz-box-shadow: 2px 4px 10px 0px rgba(10,77,14,0.61);
  box-shadow: 2px 4px 10px 0px rgba(10,77,14,0.61);
}

.button {
   border-top: 1px solid #f7f7f7;
   background: #f24848;
   background: -webkit-gradient(linear, left top, left bottom, from(#ed8080), to(#f24848));
   background: -webkit-linear-gradient(top, #ed8080, #f24848);
   background: -moz-linear-gradient(top, #ed8080, #f24848);
   background: -ms-linear-gradient(top, #ed8080, #f24848);
   background: -o-linear-gradient(top, #ed8080, #f24848);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #f28889;
   background: #f28889;
   color: #f0f0f0;
   }
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }